<h1>Speed Dating: Who to Date Long Term</h1>

What influences love at first sight? (Or, at least, love in the first four minutes?) This dataset was compiled by Columbia Business School professors Ray Fisman and Sheena Iyengar for their paper Gender Differences in Mate Selection: Evidence From a Speed Dating Experiment.<br>

Data was gathered from participants in experimental speed dating events from 2002-2004. During the events, the attendees would have a four minute "first date" with every other participant of the opposite sex. At the end of their four minutes, participants were asked if they would like to see their date again. They were also asked to rate their date on six attributes: Attractiveness, Sincerity, Intelligence, Fun, Ambition, and Shared Interests.<br>

The dataset also includes questionnaire data gathered from participants at different points in the process. These fields include: demographics, dating habits, self-perception across key attributes, beliefs on what others find valuable in a mate, and lifestyle information. See the Speed Dating Data Key document below for details.<br>

For more analysis from Iyengar and Fisman, read Racial Preferences in Dating.<br>

Data Exploration Ideas<br>

What are the least desirable attributes in a male partner? Does this differ for female partners?<br>
How important do people think attractiveness is in potential mate selection vs. its real impact?<br>
Are shared interests more important than a shared racial background?<br>
Can people accurately predict their own perceived value in the dating market?<br>
In terms of getting a second date, is it better to be someone's first speed date of the night or their last?

In [1]:
import pandas as pd
import numpy as np
import sklearn 
from IPython.display import display
%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

print('pandas version is {}.'.format(pd.__version__))
print('numpy version is {}.'.format(np.__version__))
print('scikit-learn version is {}.'.format(sklearn.__version__))

pandas version is 0.18.0.
numpy version is 1.10.4.
scikit-learn version is 0.17.1.

In [2]:
data = pd.read_csv("Speed Dating Data.csv")
print "This set has {} data points and {} features.".format(*data.shape)

This set has 8378 data points and 195 features.

<h1>Data Exploration</h1>

In [3]:
import features_creator as fc #importing feature names made in file features_creator.py
for i in fc.clean_up_2:
    data.replace(to_replace = 12.0, value = 10.0, inplace = True)

<h3>Import locale to change Income and Tuition to int from string type</h3>

<h2>Unique Profiles</h2>

In [4]:
unique = data.copy()
unique.drop_duplicates(subset = 'iid', keep = 'first', inplace = True)
for i in fc.list_of_lists:
    unique[i] = (unique[i] - unique[i].min()) / (unique[i].max() - unique[i].min())

<h3>Stats and Frequency Charts for Females</h3>

In [5]:
fc.dating_attributes_vs_time_describe(data = unique, gender = 0)

          attr3_1     attr3_2    attr3_3
count  268.000000  238.000000  146.00000
mean     0.655317    0.657563    0.66524
std      0.166766    0.164780    0.17976
min      0.000000    0.000000    0.00000
25%      0.625000    0.625000    0.62500
50%      0.625000    0.625000    0.62500
75%      0.750000    0.750000    0.75000
max      1.000000    1.000000    1.00000

           fun4_1      fun4_2      fun4_3
count  206.000000  180.000000  106.000000
mean     0.334844    0.288778    0.455346
std      0.154951    0.126970    0.223767
min      0.000000    0.000000    0.000000
25%      0.222222    0.180000    0.300000
50%      0.333333    0.300000    0.333333
75%      0.444444    0.400000    0.666667
max      1.000000    0.800000    1.000000

          attr2_1     attr2_2     attr2_3
count  269.000000  180.000000  106.000000
mean     0.356006    0.387571    0.299874
std      0.168152    0.176518    0.241640
min      0.100000    0.117647    0.026667
25%      0.236800    0.244118    0.066667
50%      0.300000    0.352941    0.266667
75%      0.450000    0.470588    0.466667
max      1.000000    1.000000    1.000000

         intel2_1    intel2_2    intel2_3
count  269.000000  180.000000  106.000000
mean     0.311217    0.405649    0.177201
std      0.128207    0.152169    0.090306
min      0.000000    0.000000    0.000000
25%      0.250000    0.324992    0.116667
50%      0.250000    0.422489    0.166667
75%      0.375000    0.494638    0.250000
max      0.750000    1.000000    0.500000

          sinc4_1     sinc4_2     sinc4_3
count  206.000000  180.000000  106.000000
mean     0.324827    0.363333    0.304009
std      0.182237    0.179899    0.150124
min      0.000000    0.000000    0.000000
25%      0.200000    0.228571    0.200000
50%      0.285714    0.285714    0.250000
75%      0.428571    0.457143    0.375000
max      1.000000    1.000000    1.000000

          shar2_1     shar2_2    shar2_3
count  269.000000  180.000000  73.000000
mean     0.420149    0.458548   0.301979
std      0.201022    0.181653   0.171087
min      0.000000    0.000000   0.000000
25%      0.333333    0.333333   0.222222
50%      0.378667    0.500000   0.333333
75%      0.555667    0.571667   0.444444
max      1.000000    1.000000   1.000000

          attr1_1     attr1_2     attr1_3
count  269.000000  237.000000  146.000000
mean     0.179981    0.210471    0.257071
std      0.099457    0.149610    0.149960
min      0.000000    0.000000    0.000000
25%      0.122400    0.125000    0.187500
50%      0.150900    0.187500    0.208375
75%      0.200000    0.250000    0.281250
max      0.900000    1.000000    0.937500

           amb5_1      amb5_2     amb5_3
count  155.000000  136.000000  73.000000
mean     0.751971    0.658088   0.652968
std      0.184722    0.187722   0.212717
min      0.000000    0.000000   0.000000
25%      0.666667    0.500000   0.555556
50%      0.777778    0.625000   0.666667
75%      0.888889    0.750000   0.777778
max      1.000000    1.000000   1.000000

         intel3_1    intel3_2    intel3_3
count  268.000000  238.000000  146.000000
mean     0.756397    0.684174    0.745597
std      0.151356    0.193777    0.182633
min      0.000000    0.000000    0.000000
25%      0.714286    0.500000    0.714286
50%      0.714286    0.666667    0.714286
75%      0.857143    0.833333    0.857143
max      1.000000    1.000000    1.000000

          sinc5_1     sinc5_2    sinc5_3
count  155.000000  136.000000  73.000000
mean     0.793548    0.721507   0.751712
std      0.179715    0.191828   0.181014
min      0.111111    0.125000   0.125000
25%      0.666667    0.625000   0.625000
50%      0.777778    0.750000   0.750000
75%      0.888889    0.875000   0.875000
max      1.000000    1.000000   1.000000

           amb3_1      amb3_2      amb3_3
count  268.000000  238.000000  146.000000
mean     0.703825    0.686450    0.705479
std      0.205044    0.212586    0.207805
min      0.125000    0.000000    0.000000
25%      0.625000    0.625000    0.666667
50%      0.750000    0.750000    0.777778
75%      0.875000    0.875000    0.888889
max      1.000000    1.000000    1.000000

           fun5_1      fun5_2     fun5_3
count  155.000000  136.000000  73.000000
mean     0.685484    0.665441   0.694064
std      0.205621    0.205752   0.177412
min      0.000000    0.000000   0.000000
25%      0.625000    0.500000   0.666667
50%      0.750000    0.625000   0.666667
75%      0.875000    0.750000   0.777778
max      1.000000    1.000000   1.000000

           fun3_1      fun3_2      fun3_3
count  268.000000  238.000000  146.000000
mean     0.737407    0.753501    0.726884
std      0.178142    0.168437    0.178598
min      0.000000    0.000000    0.000000
25%      0.625000    0.666667    0.625000
50%      0.750000    0.777778    0.750000
75%      0.875000    0.888889    0.875000
max      1.000000    1.000000    1.000000

          sinc2_1     sinc2_2     sinc2_3
count  269.000000  180.000000  106.000000
mean     0.224799    0.302364    0.203585
std      0.122803    0.137365    0.135500
min      0.000000    0.000000    0.000000
25%      0.100000    0.250000    0.120000
50%      0.200000    0.315875    0.200000
75%      0.300000    0.389813    0.300000
max      0.600000    0.625000    1.000000

         intel1_1    intel1_2    intel1_3
count  269.000000  238.000000  146.000000
mean     0.419420    0.477743    0.441038
std      0.136213    0.156051    0.135890
min      0.040000    0.000000    0.111111
25%      0.360000    0.375000    0.370444
50%      0.400000    0.500000    0.444444
75%      0.500000    0.500000    0.444444
max      1.000000    1.000000    0.888889

          shar1_1     shar1_2     shar1_3
count  268.000000  238.000000  146.000000
mean     0.422515    0.398118    0.256653
std      0.197286    0.189863    0.124604
min      0.000000    0.000000    0.000000
25%      0.333333    0.285714    0.181818
50%      0.440333    0.428571    0.272727
75%      0.533333    0.512214    0.327273
max      1.000000    1.000000    1.000000

          attr4_1     attr4_2     attr4_3
count  206.000000  180.000000  106.000000
mean     0.214995    0.193144    0.296816
std      0.164055    0.156907    0.199404
min      0.000000    0.000000    0.000000
25%      0.055556    0.042553    0.125000
50%      0.166667    0.148936    0.250000
75%      0.277778    0.255319    0.375000
max      0.833333    0.840426    1.000000

          sinc3_1     sinc3_2     sinc3_3
count  268.000000  238.000000  146.000000
mean     0.808769    0.770483    0.781678
std      0.171187    0.189487    0.170453
min      0.000000    0.000000    0.125000
25%      0.750000    0.656250    0.750000
50%      0.875000    0.750000    0.750000
75%      0.875000    0.875000    0.875000
max      1.000000    1.000000    1.000000

           amb1_1      amb1_2      amb1_3
count  269.000000  238.000000  146.000000
mean     0.241577    0.514782    0.409349
std      0.103134    0.236303    0.189474
min      0.000000    0.000000    0.000000
25%      0.188679    0.450045    0.333333
50%      0.283019    0.450045    0.500000
75%      0.314528    0.675068    0.530333
max      0.566038    1.000000    1.000000

         intel5_1    intel5_2   intel5_3
count  155.000000  136.000000  73.000000
mean     0.743779    0.718750   0.641553
std      0.183970    0.154223   0.233517
min      0.000000    0.375000   0.000000
25%      0.714286    0.625000   0.500000
50%      0.714286    0.750000   0.666667
75%      0.857143    0.875000   0.833333
max      1.000000    1.000000   1.000000

           fun1_1      fun1_2      fun1_3
count  269.000000  238.000000  146.000000
mean     0.345536    0.349629    0.527920
std      0.113255    0.122427    0.170765
min      0.000000    0.000000    0.000000
25%      0.300000    0.300000    0.424667
50%      0.360000    0.353200    0.550000
75%      0.400000    0.400000    0.666667
max      0.800000    1.000000    1.000000

         intel4_1    intel4_2    intel4_3
count  206.000000  180.000000  106.000000
mean     0.372954    0.326667    0.384591
std      0.179335    0.150061    0.191136
min      0.000000    0.050000    0.000000
25%      0.257143    0.225000    0.233333
50%      0.285714    0.250000    0.333333
75%      0.457143    0.431250    0.500000
max      0.857143    1.000000    1.000000

          attr5_1     attr5_2    attr5_3
count  155.000000  136.000000  73.000000
mean     0.632258    0.608456   0.623288
std      0.176914    0.163022   0.182209
min      0.125000    0.000000   0.000000
25%      0.500000    0.500000   0.500000
50%      0.625000    0.625000   0.625000
75%      0.750000    0.750000   0.750000
max      1.000000    1.000000   1.000000

          shar4_1     shar4_2     shar4_3
count  205.000000  180.000000  106.000000
mean     0.278780    0.292778    0.260797
std      0.146928    0.144728    0.156994
min      0.000000    0.000000    0.000000
25%      0.200000    0.200000    0.155556
50%      0.250000    0.250000    0.222222
75%      0.375000    0.375000    0.333333
max      1.000000    0.750000    1.000000

           amb2_1      amb2_2      amb2_3
count  269.000000  180.000000  106.000000
mean     0.182139    0.193008    0.148113
std      0.106470    0.093795    0.089646
min      0.000000    0.000000    0.000000
25%      0.100000    0.100000    0.100000
50%      0.200000    0.200000    0.150000
75%      0.256400    0.279000    0.200000
max      0.600000    0.400000    0.500000

          sinc1_1     sinc1_2     sinc1_3
count  269.000000  238.000000  146.000000
mean     0.303580    0.331365    0.266366
std      0.116424    0.125946    0.125639
min      0.000000    0.000000    0.000000
25%      0.250000    0.297150    0.230769
50%      0.333333    0.351900    0.267538
75%      0.333333    0.400000    0.307692
max      1.000000    1.000000    1.000000

           fun2_1      fun2_2     fun2_3
count  269.000000  180.000000  106.00000
mean     0.380884    0.469200    0.39434
std      0.133813    0.138135    0.20697
min      0.000000    0.125000    0.00000
25%      0.300000    0.375000    0.22500
50%      0.400000    0.500000    0.37500
75%      0.439000    0.500000    0.50000
max      1.000000    1.000000    1.00000

           amb4_1      amb4_2      amb4_3
count  206.000000  180.000000  106.000000
mean     0.236699    0.304127    0.260377
std      0.147277    0.165435    0.162417
min      0.000000    0.000000    0.000000
25%      0.140000    0.200000    0.175000
50%      0.200000    0.285714    0.250000
75%      0.300000    0.407143    0.362500
max      1.000000    1.000000    1.000000

In [6]:
#fc.dating_attributes_vs_time_hist(data = unique, gender = 0)

<h3>Stats and Frequency Charts for Males</h3>

In [7]:
fc.dating_attributes_vs_time_describe(data = unique, gender = 1)

          attr3_1     attr3_2     attr3_3
count  273.000000  247.000000  117.000000
mean     0.617216    0.621964    0.616453
std      0.178385    0.176030    0.184769
min      0.000000    0.000000    0.000000
25%      0.500000    0.500000    0.500000
50%      0.625000    0.625000    0.625000
75%      0.750000    0.750000    0.750000
max      1.000000    1.000000    1.000000

           fun4_1      fun4_2     fun4_3
count  211.000000  188.000000  87.000000
mean     0.358715    0.315638   0.486590
std      0.174411    0.164184   0.244973
min      0.000000    0.000000   0.000000
25%      0.211111    0.180000   0.266667
50%      0.333333    0.300000   0.500000
75%      0.444444    0.400000   0.666667
max      0.888889    1.000000   1.000000

          attr2_1     attr2_2    attr2_3
count  274.000000  188.000000  87.000000
mean     0.250123    0.297583   0.223755
std      0.131555    0.154482   0.199601
min      0.000000    0.000000   0.000000
25%      0.167475    0.196118   0.040000
50%      0.200000    0.235294   0.200000
75%      0.300000    0.352941   0.333333
max      0.950000    0.941176   1.000000

         intel2_1    intel2_2   intel2_3
count  274.000000  188.000000  87.000000
mean     0.407306    0.507060   0.225287
std      0.166075    0.181016   0.135039
min      0.000000    0.000000   0.000000
25%      0.250000    0.324992   0.133333
50%      0.403500    0.524537   0.166667
75%      0.500000    0.649984   0.333333
max      1.000000    0.974976   1.000000

          sinc4_1     sinc4_2    sinc4_3
count  211.000000  188.000000  87.000000
mean     0.307786    0.313374   0.234483
std      0.194592    0.175776   0.132301
min      0.000000    0.000000   0.000000
25%      0.157143    0.200000   0.150000
50%      0.285714    0.285714   0.250000
75%      0.428571    0.428571   0.250000
max      1.000000    0.857143   0.550000

          shar2_1     shar2_2    shar2_3
count  273.000000  188.000000  58.000000
mean     0.373508    0.394723   0.219923
std      0.200398    0.193853   0.122616
min      0.000000    0.000000   0.000000
25%      0.233333    0.333333   0.111111
50%      0.333333    0.352833   0.222222
75%      0.500000    0.514167   0.305556
max      1.000000    1.000000   0.444444

         attr1_1     attr1_2     attr1_3
count  274.00000  247.000000  117.000000
mean     0.27122    0.314084    0.364779
std      0.13848    0.191826    0.184088
min      0.06670    0.062500    0.062500
25%      0.19570    0.187500    0.236500
50%      0.23000    0.250000    0.312500
75%      0.30000    0.437500    0.500000
max      1.00000    1.000000    1.000000

           amb5_1      amb5_2     amb5_3
count  159.000000  141.000000  58.000000
mean     0.715584    0.672872   0.672414
std      0.217456    0.198577   0.191233
min      0.000000    0.000000   0.111111
25%      0.555556    0.500000   0.555556
50%      0.777778    0.625000   0.666667
75%      0.888889    0.875000   0.777778
max      1.000000    1.000000   1.000000

         intel3_1    intel3_2    intel3_3
count  273.000000  247.000000  117.000000
mean     0.781266    0.721997    0.760684
std      0.158773    0.198452    0.169684
min      0.142857    0.000000    0.142857
25%      0.714286    0.666667    0.714286
50%      0.857143    0.666667    0.714286
75%      0.857143    0.833333    0.857143
max      1.000000    1.000000    1.000000

          sinc5_1     sinc5_2    sinc5_3
count  159.000000  141.000000  58.000000
mean     0.747729    0.637411   0.644397
std      0.183166    0.198378   0.188487
min      0.000000    0.000000   0.000000
25%      0.666667    0.500000   0.500000
50%      0.777778    0.625000   0.625000
75%      0.888889    0.750000   0.750000
max      1.000000    1.000000   1.000000

           amb3_1      amb3_2      amb3_3
count  273.000000  247.000000  117.000000
mean     0.690018    0.679150    0.690408
std      0.240172    0.231073    0.207782
min      0.000000    0.000000    0.111111
25%      0.625000    0.500000    0.555556
50%      0.750000    0.750000    0.777778
75%      0.875000    0.875000    0.888889
max      1.000000    1.000000    1.000000

           fun5_1      fun5_2     fun5_3
count  159.000000  141.000000  58.000000
mean     0.661164    0.649823   0.655172
std      0.241692    0.200011   0.192663
min      0.000000    0.125000   0.111111
25%      0.500000    0.500000   0.555556
50%      0.625000    0.625000   0.666667
75%      0.875000    0.750000   0.777778
max      1.000000    1.000000   1.000000

           fun3_1      fun3_2      fun3_3
count  273.000000  247.000000  117.000000
mean     0.687729    0.713900    0.653846
std      0.204815    0.173290    0.216123
min      0.000000    0.111111    0.000000
25%      0.625000    0.666667    0.625000
50%      0.750000    0.777778    0.750000
75%      0.875000    0.777778    0.750000
max      1.000000    1.000000    1.000000

          sinc2_1     sinc2_2    sinc2_3
count  274.000000  188.000000  87.000000
mean     0.302388    0.397437   0.242069
std      0.143536    0.155959   0.116979
min      0.000000    0.000000   0.000000
25%      0.200000    0.250000   0.160000
50%      0.300000    0.424375   0.200000
75%      0.400000    0.500000   0.400000
max      1.000000    1.000000   0.500000

         intel1_1    intel1_2    intel1_3
count  274.000000  247.000000  117.000000
mean     0.389164    0.418786    0.421050
std      0.135580    0.167226    0.141068
min      0.000000    0.000000    0.000000
25%      0.323350    0.366125    0.333333
50%      0.400000    0.450000    0.444444
75%      0.443300    0.500000    0.444444
max      0.857200    1.000000    1.000000

          shar1_1     shar1_2     shar1_3
count  272.000000  247.000000  117.000000
mean     0.366441    0.328915    0.197326
std      0.228924    0.181113    0.103888
min      0.000000    0.000000    0.000000
25%      0.166667    0.264429    0.090909
50%      0.333333    0.285714    0.181818
75%      0.522333    0.428571    0.272727
max      1.000000    0.857143    0.363636

          attr4_1     attr4_2    attr4_3
count  211.000000  188.000000  87.000000
mean     0.259031    0.246039   0.343103
std      0.193822    0.189157   0.236356
min      0.000000    0.010638   0.075000
25%      0.055556    0.082447   0.125000
50%      0.222222    0.228723   0.312500
75%      0.388889    0.361702   0.500000
max      1.000000    1.000000   1.000000

          sinc3_1     sinc3_2     sinc3_3
count  273.000000  247.000000  117.000000
mean     0.762821    0.714575    0.714744
std      0.179218    0.181766    0.179683
min      0.000000    0.125000    0.000000
25%      0.625000    0.625000    0.625000
50%      0.750000    0.750000    0.750000
75%      0.875000    0.875000    0.875000
max      1.000000    1.000000    1.000000

           amb1_1      amb1_2      amb1_3
count  272.000000  247.000000  117.000000
mean     0.166547    0.383402    0.299199
std      0.118693    0.256528    0.194910
min      0.000000    0.000000    0.000000
25%      0.094340    0.225023    0.166667
50%      0.188679    0.450045    0.333333
75%      0.246840    0.581008    0.486000
max      1.000000    0.900090    0.666667

         intel5_1    intel5_2   intel5_3
count  159.000000  141.000000  58.000000
mean     0.758311    0.740248   0.672414
std      0.196159    0.166416   0.229342
min      0.142857    0.000000   0.166667
25%      0.714286    0.625000   0.500000
50%      0.714286    0.750000   0.666667
75%      0.857143    0.875000   0.833333
max      1.000000    1.000000   1.000000

           fun1_1      fun1_2      fun1_3
count  273.000000  247.000000  117.000000
mean     0.349936    0.354727    0.546231
std      0.131829    0.125739    0.184544
min      0.000000    0.000000    0.000000
25%      0.300000    0.300000    0.493667
50%      0.360000    0.380000    0.542667
75%      0.400000    0.400000    0.666667
max      1.000000    0.800000    1.000000

         intel4_1    intel4_2   intel4_3
count  211.000000  188.000000  87.000000
mean     0.343805    0.276729   0.389655
std      0.201286    0.145706   0.213819
min      0.000000    0.000000   0.000000
25%      0.200000    0.175000   0.200000
50%      0.285714    0.250000   0.333333
75%      0.442857    0.375000   0.583333
max      1.000000    0.750000   1.000000

          attr5_1     attr5_2    attr5_3
count  159.000000  141.000000  58.000000
mean     0.600629    0.597518   0.568966
std      0.198131    0.182427   0.197535
min      0.000000    0.000000   0.000000
25%      0.500000    0.500000   0.500000
50%      0.625000    0.625000   0.625000
75%      0.750000    0.750000   0.625000
max      1.000000    1.000000   0.875000

          shar4_1     shar4_2    shar4_3
count  211.000000  188.000000  87.000000
mean     0.270616    0.270213   0.229119
std      0.153980    0.167427   0.127040
min      0.000000    0.000000   0.000000
25%      0.150000    0.175000   0.133333
50%      0.250000    0.250000   0.222222
75%      0.375000    0.375000   0.333333
max      0.750000    1.000000   0.555556

           amb2_1      amb2_2     amb2_3
count  273.000000  188.000000  87.000000
mean     0.287103    0.285355   0.239540
std      0.142272    0.131452   0.141946
min      0.000000    0.000000   0.000000
25%      0.200000    0.200000   0.160000
50%      0.300000    0.300000   0.200000
75%      0.400000    0.364550   0.300000
max      1.000000    1.000000   1.000000

          sinc1_1     sinc1_2     sinc1_3
count  274.000000  247.000000  117.000000
mean     0.273868    0.303767    0.245849
std      0.121165    0.137702    0.111039
min      0.000000    0.000000    0.000000
25%      0.166667    0.200000    0.153846
50%      0.283500    0.300000    0.256462
75%      0.333333    0.400000    0.307692
max      0.666667    0.600000    0.538462

           fun2_1      fun2_2     fun2_3
count  274.000000  188.000000  87.000000
mean     0.360158    0.430086   0.343678
std      0.132188    0.157693   0.182649
min      0.000000    0.000000   0.000000
25%      0.300000    0.375000   0.200000
50%      0.386600    0.433750   0.250000
75%      0.400000    0.500000   0.500000
max      0.880000    1.000000   1.000000

           amb4_1      amb4_2     amb4_3
count  211.000000  188.000000  87.000000
mean     0.154218    0.232979   0.200862
std      0.115613    0.158302   0.153659
min      0.000000    0.000000   0.000000
25%      0.090000    0.142857   0.125000
50%      0.120000    0.228571   0.175000
75%      0.200000    0.285714   0.250000
max      0.600000    0.857143   0.750000

In [8]:
#fc.dating_attributes_vs_time_hist(data = unique, gender = 1)

<h2>Create Matched People DataFrame</h2>

In [9]:
#people_matched = data[data['match'] == 1].copy()
#people_matched.drop_duplicates(subset = 'iid', keep = 'first', inplace = True)
#display(people_matched)

<h2>Exploring Matches</h2>

In [10]:
#people_matched[['iid', 'gender', 'dec'] + fc.features_of_attraction + fc.preferences_of_attraction + ['dec_o', 'pid', 'goal', 'int_corr', 'match']]

<h2>Get Index for 'iid' for non-matches</h2>

In [11]:
#number = [int(i) for i in people_matched['iid']]
#not_ever_matched = [i for i in range(1,553) if i not in number]
#print not_ever_matched

In [12]:
#people_not_matched = data[data['iid'].isin(not_ever_matched)].copy()

<h2>Exploring Non-Matches</h2>

In [13]:
#people_not_matched[['iid', 'gender', 'dec'] + fc.features_of_attraction + fc.preferences_of_attraction + ['dec_o', 'pid', 'goal', 'int_corr', 'match']]

<h3>Non-Matched Females: Graphs</h3>

In [14]:
#fc.dating_attributes_vs_time(data = people_not_matched, gender = 0)

<h3>Non-Matched Males: Graphs</h3>

In [15]:
#fc.dating_attributes_vs_time(data = people_not_matched, gender = 1)

<h1>Features</h1>

In [16]:
for i, j in fc.data_cleaner.iteritems():
    print i, j, '\n'
for i, j in fc.master_list.items():
    print i, j, '\n'
print 'clean_up_1', '\n', fc.clean_up_1, '\n'
print 'clean_up_2', '\n', fc.clean_up_2, '\n'
print 'clean_up_3', '\n', fc.clean_up_3, '\n'
print 'clean_up_4', '\n', fc.clean_up_4, '\n'
print 'clean_up_5', '\n', fc.clean_up_5, '\n'
print 'features_of_attraction', '\n', fc.features_of_attraction, '\n'
print 'actual_decisions', '\n', fc.actual_decisions, '\n'
print 'preferences_of_attraction', '\n', fc.preferences_of_attraction, '\n'
print 'rating_by_partner_features', '\n', fc.rating_by_partner_features, '\n'
print 'halfway_questions', '\n', fc.halfway_questions, '\n'
print 'interests', '\n', fc.interests, '\n'
print 'list_of_lists', '\n', fc.list_of_lists, '\n'
print 'all columns in dataset', '\n'
for i in data.keys():
    print i,
to_drop = [i for i in data.keys() if i not in fc.list_of_lists]
print '\n'*2, 'to_drop', '\n', to_drop, '\n'

first_round ['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1', 'attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1', 'attr3_1', 'sinc3_1', 'intel3_1', 'fun3_1', 'amb3_1', 'attr4_1', 'sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1', 'attr5_1', 'sinc5_1', 'intel5_1', 'fun5_1', 'amb5_1']

second_round ['attr1_2', 'sinc1_2', 'intel1_2', 'fun1_2', 'amb1_2', 'shar1_2', 'attr2_2', 'sinc2_2', 'intel2_2', 'fun2_2', 'amb2_2', 'shar2_2', 'attr3_2', 'sinc3_2', 'intel3_2', 'fun3_2', 'amb3_2', 'attr4_2', 'sinc4_2', 'intel4_2', 'fun4_2', 'amb4_2', 'shar4_2', 'attr5_2', 'sinc5_2', 'intel5_2', 'fun5_2', 'amb5_2']

third_round ['attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3', 'shar1_3', 'attr2_3', 'sinc2_3', 'intel2_3', 'fun2_3', 'amb2_3', 'shar2_3', 'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3', 'attr4_3', 'sinc4_3', 'intel4_3', 'fun4_3', 'amb4_3', 'shar4_3', 'attr5_3', 'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3']

how_you_measure_attr ['attr3_1', 'attr3_2', 'attr3_3']

you_think_most_want_fun ['fun4_1', 'fun4_2', 'fun4_3']

you_think_opposite_wants_attr ['attr2_1', 'attr2_2', 'attr2_3']

you_think_opposite_wants_intel ['intel2_1', 'intel2_2', 'intel2_3']

you_think_most_want_sinc ['sinc4_1', 'sinc4_2', 'sinc4_3']

you_think_opposite_wants_shar ['shar2_1', 'shar2_2', 'shar2_3']

what_you_want_attr ['attr1_1', 'attr1_2', 'attr1_3']

you_think_they_rate_you_amb ['amb5_1', 'amb5_2', 'amb5_3']

how_you_measure_intel ['intel3_1', 'intel3_2', 'intel3_3']

you_think_they_rate_you_sinc ['sinc5_1', 'sinc5_2', 'sinc5_3']

how_you_measure_amb ['amb3_1', 'amb3_2', 'amb3_3']

you_think_they_rate_you_fun ['fun5_1', 'fun5_2', 'fun5_3']

how_you_measure_fun ['fun3_1', 'fun3_2', 'fun3_3']

you_think_opposite_wants_sinc ['sinc2_1', 'sinc2_2', 'sinc2_3']

what_you_want_intel ['intel1_1', 'intel1_2', 'intel1_3']

what_you_want_shar ['shar1_1', 'shar1_2', 'shar1_3']

you_think_most_want_attr ['attr4_1', 'attr4_2', 'attr4_3']

how_you_measure_sinc ['sinc3_1', 'sinc3_2', 'sinc3_3']

what_you_want_amb ['amb1_1', 'amb1_2', 'amb1_3']

you_think_they_rate_you_intel ['intel5_1', 'intel5_2', 'intel5_3']

what_you_want_fun ['fun1_1', 'fun1_2', 'fun1_3']

you_think_most_want_intel ['intel4_1', 'intel4_2', 'intel4_3']

you_think_they_rate_you_attr ['attr5_1', 'attr5_2', 'attr5_3']

you_think_most_want_shar ['shar4_1', 'shar4_2', 'shar4_3']

you_think_opposite_wants_amb ['amb2_1', 'amb2_2', 'amb2_3']

what_you_want_sinc ['sinc1_1', 'sinc1_2', 'sinc1_3']

you_think_opposite_wants_fun ['fun2_1', 'fun2_2', 'fun2_3']

you_think_most_want_amb ['amb4_1', 'amb4_2', 'amb4_3']

clean_up_1
['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1', 'attr1_2', 'sinc1_2', 'intel1_2', 'fun1_2', 'amb1_2', 'shar1_2', 'attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3', 'shar1_3', 'attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1']

clean_up_2
['attr3_1', 'sinc3_1', 'intel3_1', 'fun3_1', 'amb3_1', 'attr3_2', 'sinc3_2', 'intel3_2', 'fun3_2', 'amb3_2', 'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3']

clean_up_3
['attr5_1', 'sinc5_1', 'intel5_1', 'fun5_1', 'amb5_1', 'attr5_2', 'sinc5_2', 'intel5_2', 'fun5_2', 'amb5_2', 'attr5_3', 'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3']

clean_up_4
['attr4_1', 'sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1', 'attr4_2', 'sinc4_2', 'intel4_2', 'fun4_2', 'amb4_2', 'shar4_2', 'attr4_3', 'sinc4_3', 'intel4_3', 'fun4_3', 'amb4_3', 'shar4_3', 'attr2_3', 'sinc2_3', 'intel2_3', 'fun2_3', 'amb2_3', 'shar2_3']

clean_up_5
['attr2_2', 'sinc2_2', 'intel2_2', 'fun2_2', 'amb2_2', 'shar2_2']

features_of_attraction
['attr', 'sinc', 'intel', 'fun', 'amb', 'shar']

actual_decisions
['attr7_2', 'sinc7_2', 'intel7_2', 'fun7_2', 'amb7_2', 'shar7_2', 'attr7_3', 'sinc7_3', 'intel7_3', 'fun7_3', 'amb7_3', 'shar7_3']

preferences_of_attraction
['pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun', 'pf_o_amb', 'pf_o_sha']

rating_by_partner_features
['attr_o', 'sinc_o', 'intel_o', 'fun_o', 'amb_o', 'shar_o']

halfway_questions
['attr1_s', 'sinc1_s', 'intel1_s', 'fun1_s', 'amb1_s', 'shar1_s', 'attr3_s', 'sinc3_s', 'intel3_s', 'fun3_s', 'amb3_s']

interests
['sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga']

list_of_lists
['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1', 'attr1_2', 'sinc1_2', 'intel1_2', 'fun1_2', 'amb1_2', 'shar1_2', 'attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3', 'shar1_3', 'attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1', 'attr3_1', 'sinc3_1', 'intel3_1', 'fun3_1', 'amb3_1', 'attr3_2', 'sinc3_2', 'intel3_2', 'fun3_2', 'amb3_2', 'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3', 'attr5_1', 'sinc5_1', 'intel5_1', 'fun5_1', 'amb5_1', 'attr5_2', 'sinc5_2', 'intel5_2', 'fun5_2', 'amb5_2', 'attr5_3', 'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3', 'attr4_1', 'sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1', 'attr4_2', 'sinc4_2', 'intel4_2', 'fun4_2', 'amb4_2', 'shar4_2', 'attr4_3', 'sinc4_3', 'intel4_3', 'fun4_3', 'amb4_3', 'shar4_3', 'attr2_3', 'sinc2_3', 'intel2_3', 'fun2_3', 'amb2_3', 'shar2_3', 'attr2_2', 'sinc2_2', 'intel2_2', 'fun2_2', 'amb2_2', 'shar2_2', 'attr1_s', 'sinc1_s', 'intel1_s', 'fun1_s', 'amb1_s', 'shar1_s', 'attr3_s', 'sinc3_s', 'intel3_s', 'fun3_s', 'amb3_s', 'attr1_s', 'sinc1_s', 'intel1_s', 'fun1_s', 'amb1_s', 'shar1_s', 'attr3_s', 'sinc3_s', 'intel3_s', 'fun3_s', 'amb3_s', 'attr7_2', 'sinc7_2', 'intel7_2', 'fun7_2', 'amb7_2', 'shar7_2', 'attr7_3', 'sinc7_3', 'intel7_3', 'fun7_3', 'amb7_3', 'shar7_3', 'attr', 'sinc', 'intel', 'fun', 'amb', 'shar', 'attr_o', 'sinc_o', 'intel_o', 'fun_o', 'amb_o', 'shar_o', 'pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun', 'pf_o_amb', 'pf_o_sha', 'like_o', 'prob_o', 'imprace', 'imprelig', 'like', 'prob', 'exphappy', 'expnum', 'match_es', 'satis_2', 'you_call', 'them_cal', 'numdat_3', 'num_in_3', 'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga']

all columns in dataset

iid id gender idg condtn wave round position positin1 order partner pid match int_corr samerace age_o race_o pf_o_att pf_o_sin pf_o_int pf_o_fun pf_o_amb pf_o_sha dec_o attr_o sinc_o intel_o fun_o amb_o shar_o like_o prob_o met_o age field field_cd undergra mn_sat tuition race imprace imprelig from zipcode income goal date go_out career career_c sports tvsports exercise dining museums art hiking gaming clubbing reading tv theater movies concerts music shopping yoga exphappy expnum attr1_1 sinc1_1 intel1_1 fun1_1 amb1_1 shar1_1 attr4_1 sinc4_1 intel4_1 fun4_1 amb4_1 shar4_1 attr2_1 sinc2_1 intel2_1 fun2_1 amb2_1 shar2_1 attr3_1 sinc3_1 fun3_1 intel3_1 amb3_1 attr5_1 sinc5_1 intel5_1 fun5_1 amb5_1 dec attr sinc intel fun amb shar like prob met match_es attr1_s sinc1_s intel1_s fun1_s amb1_s shar1_s attr3_s sinc3_s intel3_s fun3_s amb3_s satis_2 length numdat_2 attr7_2 sinc7_2 intel7_2 fun7_2 amb7_2 shar7_2 attr1_2 sinc1_2 intel1_2 fun1_2 amb1_2 shar1_2 attr4_2 sinc4_2 intel4_2 fun4_2 amb4_2 shar4_2 attr2_2 sinc2_2 intel2_2 fun2_2 amb2_2 shar2_2 attr3_2 sinc3_2 intel3_2 fun3_2 amb3_2 attr5_2 sinc5_2 intel5_2 fun5_2 amb5_2 you_call them_cal date_3 numdat_3 num_in_3 attr1_3 sinc1_3 intel1_3 fun1_3 amb1_3 shar1_3 attr7_3 sinc7_3 intel7_3 fun7_3 amb7_3 shar7_3 attr4_3 sinc4_3 intel4_3 fun4_3 amb4_3 shar4_3 attr2_3 sinc2_3 intel2_3 fun2_3 amb2_3 shar2_3 attr3_3 sinc3_3 intel3_3 fun3_3 amb3_3 attr5_3 sinc5_3 intel5_3 fun5_3 amb5_3

to_drop
['iid', 'id', 'gender', 'idg', 'condtn', 'wave', 'round', 'position', 'positin1', 'order', 'partner', 'pid', 'match', 'int_corr', 'samerace', 'age_o', 'race_o', 'dec_o', 'met_o', 'age', 'field', 'field_cd', 'undergra', 'mn_sat', 'tuition', 'race', 'from', 'zipcode', 'income', 'goal', 'date', 'go_out', 'career', 'career_c', 'dec', 'met', 'length', 'numdat_2', 'date_3']

<h2>Dating Attributes as a function of Time: Distributing 100pts</h2>

<h3>Female Attributes</h3>

In [17]:
#fc.dating_attributes_vs_time_describe(unique[(unique['wave'] >= 6) & (unique['wave']<= 11)], 0)

<h3>Male Attributes</h3>

In [18]:
#fc.dating_attributes_vs_time_describe(unique[(unique['wave'] >= 6) & (unique['wave']<= 11)], 1)

<h2>Dating Attributes as a function of Time: Likert Scale</h2>

<h3>Female Attributes</h3>

In [19]:
#fc.dating_attributes_vs_time_describe(unique[(unique['wave'] >= 15) & (unique['wave']<= 20)], 0)

<h3>Male Attributes</h3>

In [20]:
#fc.dating_attributes_vs_time_describe(unique[(unique['wave'] >= 15) & (unique['wave']<= 20)], 1)

<h3>Female Subset</h3>

In [21]:
#women = data[data['gender'] == 0].copy()
#women_decision = women['dec'].copy()
#women.drop(['dec', 'dec_o', 'match'], axis = 1, inplace = True)

<h3>Male Subset</h3>

In [22]:
#men = data[data['gender'] == 1].copy()
#men_decision = men['dec'].copy()
#men.drop(['dec', 'dec_o', 'match'], axis = 1, inplace = True)

In [23]:
for i in fc.list_of_lists:
    data[i] = (data[i] - data[i].min()) / (data[i].max() - data[i].min())
entry = data[['iid', 'gender', 'age', 'race'] + fc.list_of_lists + ['age_o', 'race_o']].copy()
target = data['dec'].copy()

In [24]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVC
clf = SVC(kernel = 'linear')
rfe = RFE(clf)

In [25]:
#rfe = rfe.fit(entry, target)

In [26]:
entry[fc.list_of_lists].count()

attr1_1     8299
sinc1_1     8299
intel1_1    8299
fun1_1      8289
amb1_1      8279
shar1_1     8257
attr1_2     7445
sinc1_2     7463
intel1_2    7463
fun1_2      7463
amb1_2      7463
shar1_2     7463
attr1_3     3974
sinc1_3     3974
intel1_3    3974
fun1_3      3974
amb1_3      3974
shar1_3     3974
attr2_1     8299
sinc2_1     8299
intel2_1    8299
fun2_1      8299
amb2_1      8289
shar2_1     8289
attr3_1     8273
sinc3_1     8273
intel3_1    8273
fun3_1      8273
amb3_1      8273
attr3_2     7463
sinc3_2     7463
intel3_2    7463
fun3_2      7463
amb3_2      7463
attr3_3     3974
sinc3_3     3974
intel3_3    3974
fun3_3      3974
amb3_3      3974
attr5_1     4906
sinc5_1     4906
intel5_1    4906
fun5_1      4906
amb5_1      4906
attr5_2     4377
sinc5_2     4377
intel5_2    4377
fun5_2      4377
amb5_2      4377
attr5_3     2016
sinc5_3     2016
intel5_3    2016
fun5_3      2016
amb5_3      2016
attr4_1     6489
sinc4_1     6489
intel4_1    6489
fun4_1      6489
amb4_1      6489
shar4_1     6467
attr4_2     5775
sinc4_2     5775
intel4_2    5775
fun4_2      5775
amb4_2      5775
shar4_2     5775
attr4_3     2959
sinc4_3     2959
intel4_3    2959
fun4_3      2959
amb4_3      2959
shar4_3     2959
attr2_3     2959
sinc2_3     2959
intel2_3    2959
fun2_3      2959
amb2_3      2959
shar2_3     2016
attr2_2     5775
sinc2_2     5775
intel2_2    5775
fun2_2      5775
amb2_2      5775
shar2_2     5775
attr1_s     4096
attr1_s     4096
sinc1_s     4096
sinc1_s     4096
intel1_s    4096
intel1_s    4096
fun1_s      4096
fun1_s      4096
amb1_s      4096
amb1_s      4096
shar1_s     4096
shar1_s     4096
attr3_s     4000
attr3_s     4000
sinc3_s     4000
sinc3_s     4000
intel3_s    4000
intel3_s    4000
fun3_s      4000
fun3_s      4000
amb3_s      4000
amb3_s      4000
attr1_s     4096
attr1_s     4096
sinc1_s     4096
sinc1_s     4096
intel1_s    4096
intel1_s    4096
fun1_s      4096
fun1_s      4096
amb1_s      4096
amb1_s      4096
shar1_s     4096
shar1_s     4096
attr3_s     4000
attr3_s     4000
sinc3_s     4000
sinc3_s     4000
intel3_s    4000
intel3_s    4000
fun3_s      4000
fun3_s      4000
amb3_s      4000
amb3_s      4000
attr7_2     1984
sinc7_2     1955
intel7_2    1984
fun7_2      1984
amb7_2      1955
shar7_2     1974
attr7_3     2016
sinc7_3     2016
intel7_3    2016
fun7_3      2016
amb7_3      2016
shar7_3     2016
attr        8176
sinc        8101
intel       8082
fun         8028
amb         7666
shar        7311
attr_o      8166
sinc_o      8091
intel_o     8072
fun_o       8018
amb_o       7656
shar_o      7302
pf_o_att    8289
pf_o_sin    8289
pf_o_int    8289
pf_o_fun    8280
pf_o_amb    8271
pf_o_sha    8249
like_o      8128
prob_o      8060
imprace     8299
imprelig    8299
like        8138
prob        8069
exphappy    8277
expnum      1800
match_es    7205
satis_2     7463
you_call    3974
them_cal    3974
numdat_3    1496
num_in_3     668
sports      8299
tvsports    8299
exercise    8299
dining      8299
museums     8299
art         8299
hiking      8299
gaming      8299
clubbing    8299
reading     8299
tv          8299
theater     8299
movies      8299
concerts    8299
music       8299
shopping    8299
yoga        8299
dtype: int64

In [33]:
data[data['dec'] == 0]['income'].count() + data[data['dec'] == 1]['income'].count()

4279

In [39]:
data[data['match'] == 0]['income'].count()

3543

In [37]:
data.count()

iid         8378
id          8377
gender      8378
idg         8378
condtn      8378
wave        8378
round       8378
position    8378
positin1    6532
order       8378
partner     8378
pid         8368
match       8378
int_corr    8220
samerace    8378
age_o       8274
race_o      8305
pf_o_att    8289
pf_o_sin    8289
pf_o_int    8289
pf_o_fun    8280
pf_o_amb    8271
pf_o_sha    8249
dec_o       8378
attr_o      8166
sinc_o      8091
intel_o     8072
fun_o       8018
amb_o       7656
shar_o      7302
like_o      8128
prob_o      8060
met_o       7993
age         8283
field       8315
field_cd    8296
undergra    4914
mn_sat      3133
tuition     3583
race        8315
imprace     8299
imprelig    8299
from        8299
zipcode     7314
income      4279
goal        8299
date        8281
go_out      8299
career      8289
career_c    8240
sports      8299
tvsports    8299
exercise    8299
dining      8299
museums     8299
art         8299
hiking      8299
gaming      8299
clubbing    8299
reading     8299
tv          8299
theater     8299
movies      8299
concerts    8299
music       8299
shopping    8299
yoga        8299
exphappy    8277
expnum      1800
attr1_1     8299
sinc1_1     8299
intel1_1    8299
fun1_1      8289
amb1_1      8279
shar1_1     8257
attr4_1     6489
sinc4_1     6489
intel4_1    6489
fun4_1      6489
amb4_1      6489
shar4_1     6467
attr2_1     8299
sinc2_1     8299
intel2_1    8299
fun2_1      8299
amb2_1      8289
shar2_1     8289
attr3_1     8273
sinc3_1     8273
fun3_1      8273
intel3_1    8273
amb3_1      8273
attr5_1     4906
sinc5_1     4906
intel5_1    4906
fun5_1      4906
amb5_1      4906
dec         8378
attr        8176
sinc        8101
intel       8082
fun         8028
amb         7666
shar        7311
like        8138
prob        8069
met         8003
match_es    7205
attr1_s     4096
sinc1_s     4096
intel1_s    4096
fun1_s      4096
amb1_s      4096
shar1_s     4096
attr3_s     4000
sinc3_s     4000
intel3_s    4000
fun3_s      4000
amb3_s      4000
satis_2     7463
length      7463
numdat_2    7433
attr7_2     1984
sinc7_2     1955
intel7_2    1984
fun7_2      1984
amb7_2      1955
shar7_2     1974
attr1_2     7445
sinc1_2     7463
intel1_2    7463
fun1_2      7463
amb1_2      7463
shar1_2     7463
attr4_2     5775
sinc4_2     5775
intel4_2    5775
fun4_2      5775
amb4_2      5775
shar4_2     5775
attr2_2     5775
sinc2_2     5775
intel2_2    5775
fun2_2      5775
amb2_2      5775
shar2_2     5775
attr3_2     7463
sinc3_2     7463
intel3_2    7463
fun3_2      7463
amb3_2      7463
attr5_2     4377
sinc5_2     4377
intel5_2    4377
fun5_2      4377
amb5_2      4377
you_call    3974
them_cal    3974
date_3      3974
numdat_3    1496
num_in_3     668
attr1_3     3974
sinc1_3     3974
intel1_3    3974
fun1_3      3974
amb1_3      3974
shar1_3     3974
attr7_3     2016
sinc7_3     2016
intel7_3    2016
fun7_3      2016
amb7_3      2016
shar7_3     2016
attr4_3     2959
sinc4_3     2959
intel4_3    2959
fun4_3      2959
amb4_3      2959
shar4_3     2959
attr2_3     2959
sinc2_3     2959
intel2_3    2959
fun2_3      2959
amb2_3      2959
shar2_3     2016
attr3_3     3974
sinc3_3     3974
intel3_3    3974
fun3_3      3974
amb3_3      3974
attr5_3     2016
sinc5_3     2016
intel5_3    2016
fun5_3      2016
amb5_3      2016
dtype: int64